body{
    background-size: cover;
    opacity: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
    background-color: cadetblue;
}
h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 35px;
    color: white;
    text-shadow: #002fff -3px 0;
}
.kowt{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    color:white
}
.navs{
  background-color: darkgray;
  height: 100px;
}
li{
    list-style: none;
    float: left;
    padding: 15px;
    color: black;
}
button {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: black;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #0f13f3;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }
  .get{
    text-align: center;
  }
  